@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Network;
@using Sandbox.Diagnostics;
@inherits PanelComponent

<root>

    <div class="left">

        <div class="title">
            Scene Tests
        </div>

        <div class="explanation">
            <p>
                The scenes below are used as tests and examples of the scene system. 
                One day we will force everyone to use the scene system - the Entity system will go away.
            </p>

            <p>
                Click a scene to enter it - press escape to return to this menu.
            </p>
        </div>

    </div>

    <div class="scene-list">
        <div class="header">
            <div class="title">Scenes</div>
        </div>

    @foreach( var scene in ResourceLibrary.GetAll<SceneFile>().OrderBy( x => x.ResourceName ) )
    {
        <SceneButton Scene="@scene" OnSelected=@OpenScene></SceneButton> 
    }
    </div>

    <div class="lobby-list">

        <div class="header">
            <div class="title">Server List</div>
        </div>

        @if (refreshing)
        {
            <div>Refreshing..</div>
        }
        else if (list.Count == 0)
        {
            <div>No lobbies were found</div>
        }
        else
        {
            @foreach (var lobby in list)
            {
                <div class="button" onclick=@(() => OpenLobby( lobby ) )>

                    <div class="title">
                        @lobby.Name
                    </div>

                    <div class="meta">

                        <div class="map">
                            @lobby.Map
                        </div>

                        <div class="count">
                            @lobby.Members / @lobby.MaxMembers
                        </div>

                    </div>

                </div>
            }
        }
    </div>

</root>

@code
{
    void OpenScene( SceneFile file )
    {
        GameManager.ActiveScene.Load(file);

        var go = new GameObject(true, "Return To Menu");
        go.Components.Create<ReturnToMenu>();
    }

    bool refreshing;
    List<LobbyInformation> list = new();

    protected override void OnEnabled()
    {
        base.OnEnabled();

        Assert.True(GameObject.IsValid());

        _ = RefreshLobbyList();
    }

    async Task RefreshLobbyList()
    {
        while ( true )
        {
            refreshing = true;
            StateHasChanged();

            list = await GameNetworkSystem.QueryLobbies();

            refreshing = false;
            StateHasChanged();

            await Task.DelayRealtimeSeconds( 5.0f );
        }
    }

    void OpenLobby( LobbyInformation lobby )
    {
        GameNetworkSystem.Connect( lobby.LobbyId );
    }

}
